<!-- <label> Server Name:</label>
 <input type="text" class="form-control" 
 (input)="onUpdateServerName($event)"> -->

<input type="text" class="form-control" [(ngModel)]="serverName">
<p *ngIf="serverName !== '' else noServeTemplate">{{serverName}}</p>
<ng-template #noServeTemplate>
    <p>No server name is entered</p>
</ng-template>




<button class="btn btn-primary" [disabled]="!allowServerCreate" (click)="onCreateServer()">Add Sever</button>
<p>{{allowServerCreate}}</p> <!-- string interpolation -->
<!-- <p [innerText] = "allowServerCreate"></p> -->
<p>{{serverCreationStatus}}</p>

<div *ngFor="let server of servers; let i=index;">
    <app-server [servername]="server" [index]="i"></app-server>
</div>
